.container-main {
    padding-left:10%;
    padding-right:10%;
    &.header {
        background-color: #FFAD3C;
        position: fixed;
        font-weight: 600;
        width: 100%;
        top: 0
    }
    &.top-60 {
        margin-top: 60px;
    }
    .navbar {
        background-color: transparent !important;
    }
    &.ftco-navbar-light {
        background: transparent !important;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 3;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
}